{% extends "etf_manager/base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- ETF main table -->
        <div class="col-8">
            <h2>
                <a href="#"><i class="bi bi-list"></i> ETFs summary</a>
            </h2>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>ISIN</th>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for etf in etfs %}
                    <tr>
                        <td>{{ etf.isin }}</td>
                        <td>{{ etf.ticker }}</td>
                        <td>{{ etf.description }}</td>
                        <td>Total amount</td>
                        <td>{{ etf.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <!-- ETF main chart-->
        <div class="col-4">
            <h2><i class="bi bi-pie-chart"></i> Stats </h2>
        </div>

    </div>
</div>

{% endblock %}